<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Featured</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productsList$ | async">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.featured }}</td>
            <td>{{ product.active }}</td>
            <td>
                <button class="btn btn-danger" (click)="removeProduct(product)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>

    </tbody>
</table>